.card {
    margin: 5px;
    background-color: rgb(236, 247, 255);
    padding: 10px;
    height: 30vh;
    position: relative;
    border-bottom: 2px solid rgb(159, 179, 194);
    border-right: 2px solid rgb(159, 179, 194);
    border-left: 0px solid rgb(159, 179, 194);
    border-top: 0px solid rgb(159, 179, 194);
    

    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card:active {
    overflow: hidden;
    scrollbar-width: 0;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
    height: 200px;
}

.blocked-card {
    background-color: rgb(249, 224, 224);
}

.service-class, .card-assignee {
    text-align: right;
    align-self: end;
}

.type {
    position: absolute;
    align-self: end;
    top: 1vh;
    font-size: 100%;
    color: rgb(0, 3, 174);
}

.card-assignee {
    position: absolute;
    bottom: 0;
}

.service-class {
    position: absolute;
    bottom: 3.5vh
}

p {
    font-size: 90%;
}

.card-expedite, .card-intangible, .card-standard, .bi-calendar2-x, .bi-person-circle {
    font-size: 120%;
}

.card-title {
    width: 90%;
}