<div class="modal-header">
  <h4 class="modal-title">Create New Company</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form [formGroup]="companyForm" (ngSubmit)="createCompany()">
    <div class="mb-3">
      <input type="text" placeholder="Your company" class="form-control" formControlName="name" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="companyForm.invalid">Create</button>
  </form>
</div>
