.board {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px 10px;
}

.launchCreateStage {
    min-width: 40px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border: solid 1px rgba(220, 220, 220, 0.45);
    min-height: calc(80vh + 40px);
    height: fit-content;
    margin: 5px;
    padding: 0;
}