.auth-container {
    width: 100%;

    text-align: center;
    display: flex;
    flex-wrap: wrap;
    grid-template-areas: "appName tabs" "appName tab-content";
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.appName, .tabs {
    min-width: min(400px, 50vw);
    min-height: 10vh;
    flex-grow: 1;

}

.appName {

    color:  darkblue;
    height: 10vh;
}

h1 {
    margin: 0;
    font-size: clamp(1.5rem, 10vw, 3rem);

}

.tabs {
    padding-right: 5%;
}

.tabs button {

    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #eee;
    border-radius: 5px;

}

.tabs button.active {
    background-color: #ccc;
    font-weight: bold;
}

input {
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 10px;
}

button[type="submit"] {
    margin: 10px auto;
    padding: 8px;
    width: 80%;
}

.tab-content {
    border: 1px solid #000000;
    height: 35vh;
    border-radius: 5px;

}

.tab-content form {
    height: 10vh;

}