/* You can add global styles to this file, and also import other style files 

div[role="status"] {
  display: none !important;
}

// Força o empilhamento vertical da lista do typeahead
ngb-typeahead-window .dropdown-menu {
  display: flex !important;
  flex-direction: column !important;
}*/

