<div class="stage" CdkDrag>
    <div class="stage-header" CdkDragHandle>
        <div class="wip">
            <ng-container *ngIf="isEditing; else wipText">
                <input type="number" [(ngModel)]="stage.wipLimit" min="0" class="form-control form-control-sm"/>

            </ng-container>
            <ng-template #wipText>
                <p title="WiP Limit">{{ cardsInStage.length + "/" + (stage.wipLimit || 0) }}</p>
            </ng-template>            
        </div>
        
        <ng-container *ngIf="isEditing; else nameText">
            <input type="text" [(ngModel)]="stage.name" class="form-control form-control-sm"/>
        </ng-container>
        <ng-template #nameText>
            <h5>{{ stage.name }}</h5>
        </ng-template>
        
        <button class="btn btn-sm" (click)="isEditing ? save() : toggleEdit()">
            <i class="bi" [ngClass]="isEditing ? 'bi-floppy2-fill' : 'bi-pencil-fill'"></i>
        </button>
    </div>
    <div class="stage-body" [ngClass]="{'above-wip-limit': cardsInStage.length > stage.wipLimit}" cdkDropList [id]="'stage-' + stage.id" [cdkDropListConnectedTo]="connectedDropListsIds" [cdkDropListData]="cardsInStage" (cdkDropListDropped)="drop($event)">
        <app-card  class="box-card" *ngFor="let card of cardsInStage, trackBy: trackByCardId" [card]="card" cdkDrag>
            <div *cdkDragPreview class="cdk-preview" [ngClass]="{ 'blocked-card': card.blocked }" >
                <h6>{{card.name}}</h6>
            </div>
        </app-card>
        <button class="btn btn-sm btn-info launchCreateCard" title="Add a card" (click)="launchCreateCard()">
            <i class="bi bi-plus-square-fill"></i>
        </button>
    </div>
</div>