.stage {
    width: 20vw;
    min-width: 270px;
    border-radius: 10px;
    border: solid 1px rgba(220, 220, 220, 0.45);    
    margin: 5px;
    padding: 0;
}

.stage-body {
    background-color: rgb(240, 240, 240);
    padding: 5px;
    min-height: 80vh;
    height: fit-content;
}

h5 {
    text-align: center;
}

.stage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background-color: rgb(205, 231, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
}

.stage-data {
    display: flex;
    margin: 0 auto;
}

.stage-header h5, 
.stage-header p {
    margin: 0;
}

p {
    min-width: 25px
}

.wip {
    text-align: center;
    margin-left: 8px;
}

.above-wip-limit {
    background-color: rgb(255, 189, 189);
}

.launchCreateCard {
    box-sizing: border-box;
    margin: 5px;
    width: calc(100% - 10px);
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(159, 179, 194);
    border-right: 2px solid rgb(159, 179, 194);
    border-left: 0px solid rgb(159, 179, 194);
    border-top: 0px solid rgb(159, 179, 194);

}