
.modal-header {
    display: flex;
    padding: 5%;
    margin: 4px;
    justify-content: space-between;
    background-color: rgb(217, 229, 239);
    height: 80px;
}

.modal-body {
    background-color: rgb(245, 247, 255);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 5%;
    margin: 4px;
}

.btn-close {
    margin-left: 0;
}

.btn-sm {
    margin-left: auto;
}

.modal-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mb-3 {
    display: flex;
}

h5 {
    font-size:larger;
}