<form [formGroup]="editCardForm" (ngSubmit)="editCard()">
    <div class="modal-header">    

        <ng-container *ngIf="isEditing; else nameTitle">
            <input type="text" formControlName="name" class="form-control form-control-sm" placeholder="{{card$.name}}"/>
        </ng-container>
        <ng-template #nameTitle>
                <h4 class="modal-title" #nameTitle>{{card$.name}}</h4>
        </ng-template>   
        
        <button type="button" class="btn btn-sm" (click)="isEditing ? editCard() : toggleEdit()">
            <i class="bi" [ngClass]="isEditing ? 'bi-floppy2-fill' : 'bi-pencil-fill'"></i>
        </button>    
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isEditing; else bodyModal">
            <section class="container-fluid bg-body-tertiary p-3 border">
                <div class="mb-3">
                    <label for="description">Description&nbsp;</label>
                    <input id="description" type="text" formControlName="description" class="form-control form-control-sm" placeholder="{{card$.description}}" />
                </div>

                <div class="mb-3">
                    <label for="assigneeEmail">Assigned&nbsp;to&nbsp;</label>
                    <input id="assigneeEmail" type="email" formControlName="assigneeEmail" class="form-control form-control-sm" placeholder="{{card$.assignedTo?.email}}">
                </div>
            </section>
            <section class="container-fluid bg-body-tertiary p-3 border">
                <div class="mb-3">
                    <label for="assignedToEmail">Due&nbsp;date&nbsp;</label>
                    <input type="date" formControlName="dueDate" class="form-control form-control-sm" placeholder="{{card$.dueDate | date:'dd-MM-yyyy'}}">
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" formControlName="blocked" class="form-check-input" placeholder="{{card$.blocked}}">
                    <label class="form-check-label" for="blocked">
                        Blocked
                    </label> 
                </div>
            </section>
            <section class="container-fluid bg-body-tertiary p-3 border">
                <div class="mb-3">
                    <label for="classOfService">
                        Class&nbsp;of&nbsp;Service
                    </label>
                    <select formControlName="classOfService" class="form-control">
                        @for (class of classesOfService; track class.id) {
                            <option [value]="class.id">{{class.serviceClass}}</option>
                        }
                        
                    </select>
                </div>

                <div class="mb-3">

                    <label for="type">
                        Type
                    </label>
                    <select formControlName="type">                    
                    </select>
                </div>        
            </section>
        </ng-container>
        
        <ng-template class="modal-body" #bodyModal>
            <section class="container-fluid bg-body-tertiary border p-3">
                <div class="mb-3">
                    <h5>Description:&nbsp; </h5><p>{{ card$.description}}</p>
                </div>    
                <div class="mb-3">
                    <h5>Assigned to:&nbsp; </h5><p>{{ card$.assignedTo?.email}}</p>
                </div>
            </section>
            <section class="container-fluid bg-body-tertiary border p-3">
                <div class="mb-3">
                    <h5>Due date:&nbsp; </h5><p>{{card$.dueDate | date: 'dd/MM/yy'}}</p>
                </div>
                <div class="mb-3">
                    <h5>Blocked:&nbsp; </h5><p>{{card$.blocked ? "yes" : "no"}}</p>
                </div>
                <div class="mb-3">
                    <h5>Class of service:&nbsp; </h5>
                    <p>{{getClassOfServiceNameById(card$.classOfService?.id)}}</p>
                </div>
            </section>
            <section class="container-fluid bg-body-tertiary border p-3">
                <div class="mb-3">
                    <h5>Type:&nbsp; </h5><p>{{card$.type}}</p>
                </div>
                <div class="mb-3">
                    <h5>Created by:&nbsp; </h5><p>{{ card$.createdBy?.email}}</p> <h5>&nbsp; at: &nbsp;</h5><p>{{ (card$.createdAt | date: 'dd/MM/yy')}}</p>
                </div>
            </section>
        </ng-template>
    </div>
</form>