.d-flex {
  display: flex;
  align-items: flex-start;  /* Align to top */
  justify-content: flex-start; /* Align to left */
  width: fit-content;
}

.dashboard-nav {
  display: flex;
  padding: 1px;
  background-color: rgb(222, 235, 254);
}

.btn-outline-danger {
  //background-color: black;
  float: right;
  //padding: 5px;
  margin-left: auto;
}

app-flows {
  margin-left: 5px;
}